---
const { slug } = Astro.params;
import { useSanityClient } from "astro-sanity";
import Navbar from "../../components/Navbar";
import Gallery from "../../components/Gallery";
import Footer from "../../components/Footer.astro";

const currentSeries = await useSanityClient().fetch(
  `*[_type == "series" && slug.current=="${slug}"][0]`
);
import { urlForImage } from "../../sanity/urlForImage";
const seriesPics = currentSeries.photos.map((image: any) => {
  return urlForImage(image).url();
});
const personalSeries = await useSanityClient().fetch(
  `*[_type == "series" && category=="personal"]{title,slug}`
);
const commissionedSeries = await useSanityClient().fetch(
  `*[_type == "series" && category=="commission"]{title,slug}`
);
import MasonryComponent from "../../components/MasonryComponent";
---

<html class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{currentSeries?.title}</title>
  </head>
  <body>
    <Navbar
      client:load
      personalOptions={personalSeries}
      commissionedOptions={commissionedSeries}
    />
    <div class="h-[120px]"></div>
    <Gallery client:load series={seriesPics} index={0} />
    <section class="m-auto max-w-[1400px]">
      <div class="flex flex-col md:flex-row px-4 justify-center gap-20 mb-20">
        <h3
          class="w-[100px] flex-1 basis-2/3 leading-[150px] text-[150px] font-bold"
        >
          {currentSeries?.title}
        </h3>
        <p class="w-[100px] flex-1 basis-1/3 text-lg leading-10">
          {currentSeries?.description}
        </p>
      </div>

      <div class="max-w-[1400px] px-4 pb-8">
        <MasonryComponent client:load series={seriesPics} />
      </div>
      <Footer />
    </section>
  </body>
</html>
